*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(209, 200, 216)
}
.cuadricula{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
}
.cuadricula_capa{
    width: auto;
}
.cuadricula_capa .titulo{
    font-size: 64px;
    margin-bottom: 12px;
    color: rgb(20, 20, 62);
    line-height: 1;
    letter-spacing: 2px;

}
.cuadricula_capa .parrafo{
    color: #102a42;
    font-size: 96px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.botones_capa{
    width: 100%;
    display: flex;
    column-gap: 10px;
}
.botones_capa .btn{
    border-radius: 10px;
    border: 2px solid #222222;
    box-shadow: 0 1px 3px rgb(0,0,0,0.2);
    cursor: pointer;
    margin: 8px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
    letter-spacing: 3px;
}
.botones_capa .btn:hover{
    background-color: #222222;
    color: aliceblue;
    transition: all 0.3s linear;
}





